<main id="main" class="main">

    <div class="pagetitle">
      <h1>Sobre Nosotros</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <i class="fa-brands fa-spotify"></i>
              <h2>SpotiStats</h2>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card basic">
            <div class="card-body">
                <h5 class="card-title">¿Quienes Somos?</h5>
                <p>
                    En SpotiStats, somos más que una plataforma de estadísticas musicales. Nos consideramos exploradores apasionados del vasto y diverso universo de la música. Creemos en el poder de los datos para contar historias fascinantes sobre artistas, canciones y tendencias musicales.
                </p>

                <h5 class="card-title">Nuestra Identidad</h5>
                <p>
                    En el corazón de SpotiStats está la creencia de que la música va más allá de las notas y los ritmos; es un viaje que nos conecta a todos. Nos esforzamos por dar vida a esta conexión a través de estadísticas que revelan la riqueza y la complejidad de la expresión musical.
                </p>

                <h5 class="card-title">Un Equipo Apasionado</h5>
                <p>
                    Detrás de SpotiStats hay un equipo diverso y apasionado. Desde amantes de la música hasta expertos en datos, todos compartimos la visión de enriquecer tu experiencia musical a través de una mirada única a las estadísticas.
                </p>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->