<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar" *ngIf="isOpened" >

    <ul class="sidebar-nav" id="sidebar-nav">
  
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/"> <!--Collapsed es para saber que ahi esta señalado-->
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
  
      <li class="nav-item">
        <a routerLink="/tables" class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Tables</span><i></i>
        </a>
      </li><!-- End Tables Nav -->
  
      <li class="nav-item">
        <a routerLink="/charts" class="nav-link collapsed" data-bs-target="#charts-nav" href="#">
          <i class="bi bi-bar-chart"></i><span>Charts</span><i></i>
        </a>
      </li><!-- End Charts Nav -->

      <li class="nav-item">
        <a routerLink="/about" class="nav-link collapsed" href="pages-faq.html">
          <i class="bi bi-question-circle"></i>
          <span>About Us</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->
  
    </ul>
  
  </aside><!-- End Sidebar-->
